.journey-picker {
  margin: -2rem auto 0 auto;
  padding: 2rem;
  color: white;
  background-color: #ecb0e1;
  border-radius: 1rem;
  box-shadow: 0 0 5px gray;
}

.journey-picker__head {
  text-align: center;
}

.journey-picker__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.journey-picker__form {
  flex: 1;
}

.journey-picker__label {
  padding-top: 0.75rem;
  padding-bottom: 0.25rem;
}

.journey-picker__controls {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.journey-picker select {
  display: block;
  max-width: 80vw;
  width: 100%;
}

.journey-picker__map {
  width: 24rem;
  height: auto;
}

@media only screen and (min-width: 768px) {
  .journey-picker__map {
    width: 30rem;
  }

  .journey-picker__body {
    flex-direction: row;
  }

  .journey-picker__form {
    margin-right: 1rem;
  }

  .journey-picker__controls {
    align-items: flex-start;
  }
}
